// colors
$brand-blue: #0075A2;
$brand-grey: #D6CBCD;
$brand-green: #00FFC5;
$brand-red: #D55672;

$brand-primary: $brand-blue;
$brand-secondary: $brand-grey;

// margins
$m-sm: 10px;
$m-md: $m-sm * 2;
$m-lg: $m-sm * 4;

// fonts
$font-size: 14px;

// buttons / links
$button-ease: 0.2s;